<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    
    <nav>
        <a href="/">Calcular IMC</a> |
        <a href="/consultar">Consultar IMC</a>
    </nav>

    <div class="formulario">
        <form action="/calcular_imc" method="post" class="imc_formulario">
            <h2>Calcular IMC</h2>
            <label for="">Nome:</label>
            <input required type="text" name="nome" id="nome"><br>

            <label for="">Peso:</label>
            <input required type="text" name="peso" id="peso"><br>

            <label for="">Altura:</label>
            <input required type="text" name="altura" id="altura"><br>

            <div class="enviar">
                <button type="submit" class="enviar">Enviar</button>
            </div>
        </form>
    </div>

</body>
</html>