<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Média do Aluno</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>

    <nav>
        <a href="/">Lançar Notas</a> |
        <a href="/notas">Ver Notas</a>
    </nav>

    <div class="ver_nota">
        <h2>Consultar Notas</h2>

    <table class="ver_notas_tabela">
        <thead>
        <tr>
          <th>Nome do Aluno</th>
          <th>Nota 1</th> 
          <th>Nota 2</th> 
          <th>Nota 3</th> 
          <th>Média</th>
        </tr>
        </thead>
        <tbody>
            {% for aluno in prod %}
            <tr>
                <td>{{ aluno.nome_aluno}}</td>
                <td>{{aluno.nota_1}}</td>
                <td>{{aluno.nota_2}}</td>
                <td>{{aluno.nota_3}}</td>
                <td>{{aluno.media}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</body>
</html>